<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                <div class="form-gruop">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"  [(ngModel)]="nombre"  required>
                </div>
                <div class="form-gruop">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fecha"  [(ngModel)]="fecha"  required>
                </div>
                <div class="form-gruop">    
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"  [(ngModel)]="descripcion"  required>
                </div>
                <div class="form-gruop">    
                    <label for="url">Enlace del sitio</label>
                    <input type="text" class="form-control" id="url" name="url"  [(ngModel)]="url"  required>
                </div>
                <div class="form-gruop">
                    <label for="imgProy">imagen</label>
                    <input type="file" class="form-control" id="imgProy" name="imgProy" [(ngModel)]="imgProy" (change)="uploadImage($event)"  accept=".jpg, .jpeg, .png" required>
                </div>
                <div class="imagen">
                    <img [src]="imageService.url" width="200px">
                </div>
        
                <button class="btn btn-primary">
                            Agregar
                </button>
            </form>
        </div>
    </div>
</div>