<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                
                <div class="form-gruop">    
                    <label for="banner">Banner</label>
                    <input type="file" class="form-control" id="banner" name="banner" [(ngModel)]="persona.banner" (change)="uploadImage($event)"  accept=".jpg, .jpeg, .png" required>
                </div>
                <div class="imagen">
                    <img [src]="imageService.url" width="200px">
                </div>
        
                <button class="btn btn-primary">
                            Editar Banner
                </button>
            </form>
        </div>
    </div>
</div>